.header-card-wrapper {
  padding: 2px;
  display: flex;
  flex-direction: row;
  color: aliceblue;
  background-color: orange;
}
.header-card-content {
  padding: 50px;
  width: 100%;
  border-radius: 5px;
}
.header-card-p {
  font-size: x-large;
}
.header-card-input {
  width: 100%;
  height: 20%;
  border-radius: 10px;
  outline: none;
  border: 1px solid white;
  text-align: start;
  color: "red";
}

@media screen and (max-width: 900px) {
  .header-card-wrapper {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    background-color: orange;
  }
  .header-card-content {
    border-radius: 5px;
  }
}
